<mat-sidenav-container>
  <mat-sidenav mode="over" opened=false #snav>
    <mat-nav-list>
      <mat-list-item>
        <h4 matLine routerLink="/welcome" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</h4>
      </mat-list-item>
      <mat-list-item>
        <h4 matLine routerLink="/books" routerLinkActive="active-link">Books</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" mat-icon-button aria-label="Toggle sidebar" (click)="snavToggle(snav)">
        <mat-icon>menu</mat-icon>
      </button>
      <span fxFlex>
        <a class="home-link" routerLink=".">{{ title }}</a>
      </span>
    </mat-toolbar>
    <!-- This is where all books should go. -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>